<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <form action="/api/token/" method="POST" id="loginForm" class="login-form">
      <label for="username" class="form-label">
        <span class="label-text">Username:</span>
        <input type="text" id="username" name="username" class="label-input" />
      </label>
      <label for="password" class="form-label">
        <span class="label-text">Password:</span>
        <input
          type="password"
          id="Password"
          name="password"
          class="label-input"
        />
      </label>
      <input type="submit" />
    </form>
    <script>
      const loginForm = document.querySelector("#loginForm");
      loginForm.addEventListener("submit", e => {
        e.preventDefault();
        const { username, password } = e.target.elements;
        fetch("/api/token/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            username: username.value,
            password: password.value
          })
        })
          .then(res => res.json())
          .then(({ access, refresh }) => {
            const username = loginForm.elements["username"].value;
            window.localStorage.setItem("access", access);
            window.localStorage.setItem("refresh", refresh);
            window.localStorage.setItem("username", username);
            fetch(`/user/`, {
              headers: {
                "Content-Type": "application/json",
                Authorization: `Bearer ${access}`
              }
            }).catch(e => console.log(e));
          })
          .catch(error => console.log("error", error));
      });
    </script>
  </body>
</html>
